body{
    /* front-family */
}
.site-header{
    background-color: #f6f6f9;

}
.page-preloader{
    display: flex;
    flex-direction: center;
}
.covid-block{
    background-color: #f6f6f9;
    width: 1200px;
    height: 133px;
    background-color: #f6f6f9;
    display: flex;
}
.covid-block1 {
    display: flex;
    align-items: center;
}
.covid-block-infected{
    display: flex;
}
.important-news{
    display: flex;
    justify-content: space-between;
}