body{
    front-family
}.site-header{
    background-color: #f6f6f9;

}
.page-preloader{
    display: flex;
    flex-direction: center;
}
.covid-block{
    background-color: f6f6f9;
    display: flex;
    flex-direction: center;
}
.covid-block1{
    background-color: aqua;
}
.important-news{
    display: flex;
    justify-content: space-between;
}
}